body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #354543;
  text-align: center;
  padding: 20px;
}

.container {
  background-color: #634ce2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #17d8a5;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  
}

#player-input input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background: rgb(251, 254, 255);
  
 
}

#players-list {
  margin: 20px 0;
}

#game-section p {
  font-size: 18px;
}
